.App{
  padding: 20px 50px;
}

.report-card{
  padding: 10px;
  border: 1px solid black;
}

.report-card button{
  border-radius: 5px;
  margin: 10px;
  width: 150px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}